.btn {
    cursor: pointer;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    width: 200px;
    height: 50px;
    border: none;
    &:hover {
        background: #1b7bc8;
    }
    &:active {
        background: #188CE8;;
    }
}