.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 118px;
    padding-bottom: 118px;
    &-wrap {
        background: url('../img/hero-bg.jpg'),
                        rgba(47, 48, 58, 0.4);
        background-repeat: no-repeat;
        background-position: top center;
        background-size: cover;
        @media (min-resolution: 144dpi) and (min-resolution: 1.5dppx) {
            background: url('../img/hero-bg@2x.jpg'),
                            rgba(47, 48, 58, 0.4);
            background-repeat: no-repeat;
            background-position: top center;
            background-size: cover;
        }
    }
    &__title {
        width: 90%;
        font-weight: 900;
        font-size: 26px;
        line-height: 42px;
        text-align: center;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        color: #FFFFFF;
        margin-bottom: 30px;
    }
}
@media screen and (min-width: 768px) {
    .hero {
        &-wrap {
            background: url('../img/hero-bg-md.jpg'),
                        rgba(47, 48, 58, 0.4);
            background-repeat: no-repeat;
            background-position: top center;
            background-size: cover;
            @media (min-resolution: 144dpi) and (min-resolution: 1.5dppx) {
                background: url('../img/hero-bg-md@2x.jpg'),
                                rgba(47, 48, 58, 0.4);
                background-repeat: no-repeat;
                background-position: top center;
                background-size: cover;
            }
        }
        &__title {
            width: 55%;
        }
    }
}
@media screen and (min-width: 1200px) {
    .hero {
        padding-top: 200px;
        padding-bottom: 200px;
        &-wrap {
            background: url('../img/hero-bg-l.jpg'),
                        rgba(47, 48, 58, 0.4);
            background-repeat: no-repeat;
            background-position: top center;
            background-size: cover;
            @media (min-resolution: 144dpi) and (min-resolution: 1.5dppx) {
                background: url('../img/hero-bg-l@2x.jpg'),
                                rgba(47, 48, 58, 0.4);
                background-repeat: no-repeat;
                background-position: top center;
                background-size: cover;
            }
        }
        &__title {
            font-size: 44px;
            line-height: 60px;
        }
    }
}