* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 400;
}
a {
    text-decoration: none;
}
button {
    cursor: pointer;
}
.conteiner {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}
.no-scroll {
    overflow: hidden;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }